.gcsc-ext-loc-banner {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: red;
    border: 1px solid white;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    pointer-events: none;
    z-index: 2147483647;
    opacity: 0.4;
    transition: all 0.2s;
}
